:root {
  --dark-primary: #689F38;
  --light-primary: #DCEDC8;
  --primary: #8BC34A;
  --text-icons: #212121;
  --accent: #00BCD4;
  --on-primary: #212121;
  --on-secondary: #757575;
  --divider: #BDBDBD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
header {
  padding: 16px;
  background-color: var(--dark-primary);
  color: var(--on-primary);
  display: flex;
  align-items: center;
  gap: 5rem;
}

#content {
  padding: 3rem;
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.home img {
  grid-row: 1 / 4;
  grid-column: 2 / -1;
  justify-self: center;
  align-self: center;
}
.home h1 { 
  align-self: end;
}
.home button { 
  align-self:first baseline;
  justify-self: last baseline;
  border: none;
  background-color: var(--accent);
  color: var(--text-icons);
  width: 8rem;
  height: 3rem;
  border-radius: 32px;
}
.home button:hover {
  background-color: var(--primary);
}
.logo {
  font-size: 2rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  align-items: center;
  justify-items: center;
}
.card { 
  height: 300px;
  width: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-left: 1rem solid var(--dark-primary);
  background-color: var(--light-primary);
  box-shadow: 1rem 1rem 0.5rem  var(--divider);
}
.card-title {
  justify-self: center;
  align-self: center;
}
.card-desc {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  padding: 0 3rem;
}
.card-price {
  justify-self: last baseline;
  align-self: first baseline;
  padding: 16px 16px;
  background-color: var(--accent);
}
nav > button {
  color: var(--on-primary);
  border: none;
  height: 2rem;
  width: 5rem;
  background-color: var(--light-primary);
  border-radius: 16px;
}

nav > button:hover {
  background-color: var(--primary);
}